// Font
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=PT+Sans:wght@400;700&display=swap');
$mainFont                : 'PT Sans', sans-serif;


// Size
$mainFontColor           : #000;
$mainFontSize            : 1.4rem;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

